body {
    font-family: Arial;
    background-color: white;
}
h1 {
    font-size: 45px;
}
p {
    font-size: 20px;
}
div {
    text-align: center;
}
#manga {
    width: 500px;
    height: auto;
}
#frango {
    width: 60px;
    height: auto;
}
#cinza {
    color: rgb(104, 104, 104);
}