{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mango/style.css' %}">
    <title>Mango - DjangoMango</title>
</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Olá!</h1>
            <p>Seja bem vindo ao site <strong>DjangoMango</strong>! Para começar, clique no <strong>Mango</strong>!</p>
            <a href="http://localhost:8000/mango/clicked"><img id="manga" src="{% static 'mango/manga.jpeg' %}" alt="Mango"></a>
            <br>
            <p id="cinza"><strong>Mango</strong> já foi clicado</p>
            <h1 id="cinza">{{ cliques_manga }}</h1>
            <p id="cinza">vezes</p>
        </div>
        <div style="text-align: right;">
            <a href="http://localhost:8000/frango"><img id="frango" src="{% static 'mango/frango.jfif' %}" alt="Frango"></a>
        </div>
    </div>
</body>
</html>